In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('grades.csv')
# print(df.head(5))
# df.tail(5)
# len(df)

# Finding out the basic statistical information on Grade dataset
pd.options.display.float_format = '{:,.3f}'.format # Limit output to 3 decimal places.
df.describe()

df.columns = ['semester','student_id', 'name', 'section', 'homework1', 'homework2',
              'homework3', 'homework4', 'homework5', 'peer evaluation', 'bonus',
              'quiz_01', 'quiz_02', 'quiz_03', 'quiz_04', 'quiz_05', 'quiz_06', 'quiz_07', 'quiz_08',
              'quiz_09', 'quiz_10', 'quiz_11', 'quiz_12', 'quiz_adjustment', 'drop_lowest_quiz1',
              'drop_lowest_quiz2', 'final_exam', 'total_score', 'letter_score']
df.semester
df.iloc[0]

scoretype_attributes = ['homework1', 'homework2', 'homework3', 'homework4', 'homework5', 
                    'peer evaluation', 'quiz_01', 'quiz_02', 'quiz_03', 'quiz_04', 'quiz_05', 'quiz_06', 'quiz_07', 'quiz_08',
                    'quiz_09', 'quiz_10', 'quiz_11', 'quiz_12', 'quiz_adjustment', 'drop_lowest_quiz1',
                    'drop_lowest_quiz2', 'final_exam', 'total_score']

for attri in scoretype_attributes:
    attri_scaled = attri + 'scaled'
    attri_normed_all_semester = attri + 'normed_all_semester'
    attri_normed_same_semester = attri + 'normed_same_semester'

    df[attri_scaled] = (df.attri - df.attri.min()) / (df.attri.max() - df.attri.min()) * 100
    print(df[attri_scaled])

    df[attri_normed_all_semester] = df.attri.map(lambda x: (x - np.mean(x)) / np.std(x), axis=0)
    print(df[attri_normed_all_semester])

    df[attri_normed_same_semester] = 
    print(df[attri_normed_same_semester])

semester                 F18
student_id            457364
name                 Youyang
section                    8
homework1             32.000
homework2             40.000
homework3             34.000
homework4             34.000
homework5             42.000
peer evaluation      150.000
bonus                    NaN
quiz_01               29.000
quiz_02               41.000
quiz_03               38.000
quiz_04               46.000
quiz_05               42.000
quiz_06               22.000
quiz_07               31.000
quiz_08               36.000
quiz_09               36.000
quiz_10               40.000
quiz_11               47.000
quiz_12               13.000
quiz_adjustment          NaN
drop_lowest_quiz1        -13
drop_lowest_quiz2    -22.000
final_exam           123.000
total_score          841.000
letter_score               B
Name: 0, dtype: object

In [ ]:
plt.figure()
plt.subplot(2,2,1)
plt.scatter()